*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 1.5rem;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    box-shadow: 0px 2px 20px 0px rgb(236, 236, 236);  
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color :whitesmoke ;
    background-color: #0D2144;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
footer p {
    margin: 0.5rem;
}

main{
    flex-grow: 2;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
}
h1{
    margin-top: 2rem;
    text-align: center;
}
h2{
    color: #0D2144;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    cursor: pointer;
}

img {
    display: block;
}

form input[type="submit"]{
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px 2px rgb(236, 236, 236);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
form input[type="submit"]:hover{
    background-color: #c52138;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
    transform: translateY(-1px);
}
input:focus{
    outline: none;
}

input{
    color: rgba(55, 65, 81, 1);
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-style: none;
    border-radius: 0.5rem;
    background-color: rgba(243, 244, 246, 1);
    margin: 0;
}
input:focus{
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: rgba(229, 231, 235, 1);
}

#logo{
    width: 175px;
}

#navbar ul{
    display: flex;
    flex-direction: row;
}
#navbar a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
#navbar li{
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

#welcome-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}
#welcome-search *{
    margin: 0.5rem;
}
#welcome-search form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#search * {
    margin-right: 1rem;
}

#search-bar{
    margin-top: 1rem;
    width: 50rem;
    background-color: white;
    padding: 1rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgb(236, 236, 236);
}

#search-bar-reduce{
    width: 20rem;
    background-color: white;
    padding: 0.65rem;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px rgb(236, 236, 236);
}

#results article img{
    border-radius: 20px;
}
#results h2{
    margin-bottom: 1rem;
}

.result{
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    box-shadow: 0px 0px 20px 2px rgb(236, 236, 236);
    border-radius: 20px;
}
.result-info{
    padding: 1rem;
}
.result-description{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

#details{
    display: flex;
    flex-direction: row;
}
#details img{
    border-radius: 20px;
}
#details > img {
    height: 100%;
}

#details-info{
    padding: 1rem;
    flex-grow: 2;
}
#details-info-title, #details-info-description{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#details-info-description{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#details-provider{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#details-provider img{
    border-radius: 10px;
}

#details aside {
    text-align: center;
}
#details aside h3 {
    margin-left: 2rem;
}

#cast {
    display: inline-grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}
#cast article {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}
#cast article p, #cast article h4 {
    max-width: 92px;
}

.provider-icon{
    display: flex;
    flex-direction: row;
}
.provider-icon * {
    margin: 0.5rem;
}

.horizontal-scroll{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}
.horizontal-scroll::-webkit-scrollbar-thumb{
    background-color: #0D2144;
    border-radius: 20px;
}
.horizontal-scroll::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
.horizontal-scroll article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 185px;
    padding: 1.5rem;
}
.horizontal-scroll article h3{
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}
.horizontal-scroll article img{
    border-radius: 20px;
    height: 278px;
}