*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 1.5rem;
}

section {
    margin-bottom: 1rem;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    box-shadow: 0px 2px 20px 0px rgb(236, 236, 236);  
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color :whitesmoke ;
    background-color: #0D2144;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
footer p {
    margin: 0.5rem;
}

main{
    flex-grow: 2;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
}
h1{
    margin-bottom: 2rem;
    text-align: center;
}
h2, h3 {
    color: #0D2144;
}

strong {
    color: #0D2144;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    cursor: pointer;
}

img {
    display: block;
}

form input[type="submit"]{
    letter-spacing: 2.5px;
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    background-color: #c52138;
    color: #fff;
    padding: 0.75rem;
}
form input[type="submit"]:hover{
    transform: translateY(-2px);
}

input:focus{
    outline: none;
}
input::placeholder{
    opacity: 0.8;
}

#logo{
    width: 175px;
}

#navbar ul{
    display: flex;
    flex-direction: row;
}
#navbar a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
#navbar li{
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

#welcome-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}
#welcome-search *{
    margin: 0.5rem;
}
#welcome-search form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#search * {
    margin-right: 1rem;
}

#search-bar{
    margin-top: 1rem;
    width: 50rem;
    background-color: white;
    padding: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #0D2144;
    color: white;
}

#search-bar-reduce{
    width: 20rem;
    background-color: #0D2144;
    color: white;
    padding: 0.65rem;
    border: none;
    border-radius: 15px;
}

#results article img{
    border-radius: 20px;
}
#results h2{
    margin-bottom: 1rem;
}

.result{
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    box-shadow: 0px 0px 20px 2px rgb(236, 236, 236);
    border-radius: 20px;
}
.result-info{
    padding: 1rem;
}
.result-description{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

#details{
    display: flex;
    flex-direction: row;
}
#details img{
    border-radius: 20px;
}

#details-info{
    padding: 1rem;
    padding-top: 0.5rem;
    flex-grow: 2;
}
#details-info-title, #details-info-description{
    margin-bottom: 1rem;
}
#details-info-description{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#details-provider{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#details-provider img{
    border-radius: 10px;
}

#details aside {
    text-align: center;
}
#details aside h3 {
    margin-left: 2rem;
}

#cast {
    display: inline-grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}
#cast article {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}
#cast article p, #cast article h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 92px;
}

.provider-icon{
    display: flex;
    flex-direction: row;
}
.provider-icon * {
    margin: 0.5rem;
}

#details-video{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#details-video h2{
    margin-bottom: 1rem;
}

#details-video iframe{
    border-radius: 10px;
}

.horizontal-scroll{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}
.horizontal-scroll::-webkit-scrollbar-thumb{
    background-color: #0D2144;
    border-radius: 20px;
}
.horizontal-scroll::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
.horizontal-scroll a {
    margin: 1rem;
}
.horizontal-scroll a:first-of-type{
    margin-left: 0;
}
.horizontal-scroll article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 185px;
}
.horizontal-scroll article h3{
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}
.horizontal-scroll article img{
    border-radius: 20px;
    height: 278px;
}

#tmdb-logo {
    width: 10em;
}

#back-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    color: #c52138;
}
#back-stats a{
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
}
#back-stats a img{
    margin-right: 0.5rem;
}